<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="course.labs.dangerousapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

    <!--
          TODO - Using a permission element,
          define a custom permission with name
    		  "course.labs.permissions.DANGEROUS_ACTIVITY_PERM" 
          and "dangerous" protection level.
          What else is needed?
    -->
    <permission
        android:name="course.labs.permissions.DANGEROUS_ACTIVITY_PERM"
        android:label="Dangerous App Permission"
        android:protectionLevel="dangerous"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- TODO - enforce the custom permission on this Activity -->

        <activity
            android:name=".DangerousActivity"
            android:label="@string/app_name"
            android:permission="course.labs.permissions.DANGEROUS_ACTIVITY_PERM">

            <!--
                 TODO - add additional intent filter info so that this Activity
                  will respond to an Implicit Intent with the action
                  "course.labs.permissions.DANGEROUS_ACTIVITY"
            -->

            <intent-filter>
                <action android:name="course.labs.permissions.DANGEROUS_ACTIVITY" />

                <!--
                Without this category tag attribute value of
                "android.intent.category.DEFAULT", Android WILL NOT be
                able to RESOLVE this implicit Intent
                -->

                <!--
                Possible Exception thrown without the category tag:
                    E/AndroidRuntime(2290): FATAL EXCEPTION: main
                    E/AndroidRuntime(2290): Process: course.labs.permissionsapp, PID: 2290
                    E/AndroidRuntime(2290): android.content.ActivityNotFoundException: No Activity found to handle Intent
                    { act=course.labs.permissions.DANGEROUS_ACTIVITY }
                    ..........
                -->

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>